body {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.main-header {
  min-height: 500px;
  background-color: #000;
}
.main-header .showcase {
  padding-top: 100px;
}
nav a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.page-footer {
  padding-top: 35px;
  padding-bottom: 20px;
  color: #fff;
  background-color: black;
}

/* Add extra spacing between form fields and error messages */
.form-control.is-invalid {
  margin-bottom: 0.25rem;
}

.invalid-feedback {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.is-valid {
  border-color: #28a745 !important; /* Green for valid inputs */
}

.is-invalid {
  border-color: #dc3545 !important; /* Red for invalid inputs */
}

